.nav-item{
    margin-left: 30px;
    margin-right: 0;
}
.nav-item:hover{
    color: #00b6e2 !important;
}
.row .col-md-12 h4{
    margin: 60px 0 25px 0;
    font-weight: bold;
    font-size: 22px;
}
.row .col-md-4 h4 a{
    font-size: 18px;
    font-weight: 500;
    color:#0d274d !important;
}
.person-link a{
    color:#00b6e2 ;
    font-size: 14px;
    font-weight: 500;
}
.youtube {width:100%}
@media only screen and (min-width: 800px){
    .youtube{height: 600px;}
}